* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* keseleruhan */
button a {
  text-decoration: none;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
/* navbar */
nav {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f8fb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 65px;
  height: 98px;
}
.navbar img {
  width: 102px;
  height: 54px;
  border-radius: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 22px;
}
.navbar a {
  text-decoration: none;
  color: #000;
}
.logo {
  color: #583bb6;
  font-family: "Sonsie One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-navbar button a {
  color: #fff;
}
.btn-gejala {
  display: flex;
  margin-top: 16px;
}
.btn-gejala a {
  border: none;
  padding: 7px 30px;
  background-color: #720dee;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* end navbar */
.isi > .breadcrumb {
  margin-left: unset;
}
.isi {
  padding: 30px 65px;
}

/* link page */
.page-link {
  display: flex;
  margin-bottom: 62px;
}
/* end li
  /* container */
h2 {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-datails-article {
  display: flex;
}
.detailleft-container {
  width: 810px;
  margin-bottom: 100px;
}
.detailleft-container .date {
  margin-top: 27px;
  margin-bottom: 22px;
  color: #797979;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.detailleft-container img {
  width: 810px;
  height: 455px;
  border-radius: 10px 10px 2px 2px;
}
.list {
  margin-left: 25px;
  list-style: disc;
}

.detailleft-container .penjelasan {
  margin-top: 32px;
}
.paragraf {
  padding-top: 12px;
}
.detailright-container {
  margin-top: 60px;
  padding-left: 30px;
}
.isian {
  height: fit-content;
}
.detailbaca-container {
  width: 368px;
  min-height: 200px;
  height: fit-content;
  border-radius: 10px;
  background: #fbfbfb;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 23px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ket-bot {
  display: flex;
  margin-top: 18px;
}
.detaildate-container {
  color: #6a6a6a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 750px;
  margin-top: 8px;
}

.detailbtn-save {
  cursor: pointer;
  background: none;
}
.btn-savedetail {
  border: none;
  background: none;
  cursor: pointer;
}
a.detailbtn-baca {
  display: flex;
  width: 300px;
  height: 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #720dee;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.detailbtn-baca {
  margin-left: 10px;
}

/* end container */
/* START FOOTER */
.welcome {
  color: #000;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ciura {
  color: #720dee;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
footer {
  max-width: 100%;
  height: 160px;
  background-color: #ee0d51;
  padding: 29px 82px;
}
.footer-col {
  width: 15%;
  padding: 0 3px;
}

h4 {
  color: #fff;
}
li a {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.footer-col2 li {
  display: inline-block;
  margin: 0 5px;
}

.row2 {
  margin-left: 265px;
}
.medsos {
  display: flex;
}
.medsos li {
  padding: 10px 10px;
}
.medsos li a {
  font-size: 15px;
}
.dwnld {
  margin-bottom: 10px;
  margin-top: -2px;
  font-weight: 700;
  margin-left: 5px;
}
.download {
  width: 175px;
  height: 47px;
  background-color: #fff;
  float: left;
  border-radius: 10px;
  position: relative;
  color: #000;
  cursor: pointer;
  border: 1px solid white;
}
.download .fa-brands {
  color: #000;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.fa-brands {
  font-size: 30px;
}
.fa-apple {
  font-size: 35px;
}
.p1,
.p2 {
  position: absolute;
  left: 45px;
}
.p1 {
  top: 5px;
  font-size: 12px;
  font-weight: 500;
}
.p2 {
  top: 16px;
  font-size: 18px;
  font-weight: 600;
}

/* END FOOTER */
