.container-information {
  display: flex;
  padding: 40px 130px;
  margin-bottom: 165px;
}
.information-right {
  margin-left: 46px;
  border: 1px solid #000;
  width: 739px;
  height: 413px;
  padding: 10px 44px;
}
.information-detail {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
.information-details {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.information-desc {
  width: 637px;
  color: var(--3, #000);
  text-align: justify;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
