* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* keseleruhan */
button a {
  text-decoration: none;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
/* navbar */
nav {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f8fb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 79px;
  height: 98px;
}
.navbar img {
  width: 102px;
  height: 54px;
  border-radius: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 70px;
}

.navbar li {
  margin-right: 22px;
}
.navbar a {
  text-decoration: none;
  color: #000;
}
.logo {
  color: #583bb6;
  font-family: "Sonsie One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-navbar button a {
  color: #fff;
}
button {
  color: #fff;
  background-color: #ee0d51;
  text-decoration: none;
  display: inline-block;
  width: 115px;
  height: 38px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
button a {
  font-weight: 700;
}
.button-navbar {
  display: flex;
  gap: 10px;
}
/* end navbar */
/* page */
.title {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
.judul-page {
  padding: 22px 80px;
}
/* end page */

/* section 1 */
.img-rekomendasi {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
  gap: 10px;
}
.rekomendasi-img {
  width: 436px;
  height: 172px;
  border-radius: 20px;
  background: url(/public/rekomendasi-img.png), lightgray 50% / cover no-repeat;
  background-blend-mode: darken;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.pantangan-img {
  width: 436px;
  height: 172px;
  border-radius: 20px;
  background: url(/public/rekomendasi-img2.png), lightgray 50% / cover no-repeat;
  background-blend-mode: darken;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.img-isi {
  padding: 13px 26px;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
}
.img-isi-span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  margin-top: 1px;
  width: 362px;
  height: 35px;
}
/* end section 1 */

/* section 2 */
.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 600px;
  padding: 0 105px;
  margin-bottom: 101px;
}

.card {
  cursor: pointer;
  width: 180px;
  height: 298px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-header {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.card-body {
  text-align: center;
}

.card-body img {
  width: 100%;
  height: 212px;
  border-radius: 10px;
  padding: 0 0;
}

.card-body p {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 8px;
}

/* end section 2 */

/* START FOOTER */
.welcome {
  color: #000;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ciura {
  color: #720dee;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
footer {
  max-width: 100%;
  height: 160px;
  background-color: #ee0d51;
  padding: 29px 82px;
}
.footer-col {
  width: 15%;
  padding: 0 3px;
}

h4 {
  color: #fff;
}
li a {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.footer-col2 li {
  display: inline-block;
  margin: 0 5px;
}

.row2 {
  margin-left: 265px;
}
.medsos {
  display: flex;
}
.medsos li {
  padding: 10px 10px;
}
.medsos li a {
  font-size: 15px;
}
.dwnld {
  margin-bottom: 10px;
  margin-top: -2px;
  font-weight: 700;
  margin-left: 5px;
}
.download {
  width: 175px;
  height: 47px;
  background-color: #fff;
  float: left;
  border-radius: 10px;
  position: relative;
  color: #000;
  cursor: pointer;
  border: 1px solid white;
}
.download .fa-brands {
  color: #000;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.fa-brands {
  font-size: 30px;
}
.fa-apple {
  font-size: 35px;
}
.p1,
.p2 {
  position: absolute;
  left: 45px;
}
.p1 {
  top: 5px;
  font-size: 12px;
  font-weight: 500;
}
.p2 {
  top: 16px;
  font-size: 18px;
  font-weight: 600;
}

/* END FOOTER */
