.menu-section {
  padding: 22px 75px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(217, 217, 217, 0.1);
  width: 385px;
  height: 600px;
  flex-shrink: 0;
}
.menu-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.menu {
  display: flex;
  cursor: pointer;
  gap: 10px;
  width: 279px;
  height: 40px;
  flex-shrink: 0;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}
.menu:hover {
  border-radius: 8px;
  background: #720dee;
  color: #fff;
}
.img-menu-user {
  width: 50px;
}

.fa-brands {
  font-size: 25px;
}
