@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700&family=Sonsie+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

/* keseleruhan */
button a {
  text-decoration: none;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
/* navbar */
nav {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f8fb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 79px;
  height: 98px;
}
.navbar img {
  width: 102px;
  height: 54px;
  border-radius: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 70px;
}
.btn-navbar {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar li {
  margin-right: 22px;
}
.navbar a {
  text-decoration: none;
  color: #000;
}
.navbar .logo {
  color: #583bb6;
  font-family: "Sonsie One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-navbar button a {
  color: #fff;
}
button {
  color: #fff;
  background-color: #ee0d51;
  text-decoration: none;
  display: inline-block;
  width: 115px;
  height: 38px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
button a {
  font-weight: 700;
}
.button-navbar {
  display: flex;
  gap: 10px;
}
/* end navbar */

/* section 1 */

.container {
  width: 100%;
  height: 498px;
  background: #ee0d51;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}
.judul {
  margin-bottom: 16px;
  font-size: 40px;
}
span {
  display: block;
  margin-top: 1px;
}
.spanHero {
  display: inline;
  font-weight: 600;
}

.container-left {
  padding-top: 110px;
}
.container-left p {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.container-left button {
  border-radius: 20px;
  background: #720dee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 150px;
  margin-top: 16px;
}
.container-left button a {
  color: #fff;
}
.container-right {
  width: 570px;
  height: 380px;
  color: #fff;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-awal {
  z-index: 2;
  position: absolute;
  top: 15%;
}

.vector {
  position: relative;
  top: 47%;
  left: 1%;
  width: 400px;
  background-blend-mode: darken;
  z-index: 1;
}
/* END SECTION 1 */

/* SECTION PENGERTIAN */
.pengertian {
  height: 550px;
  width: 100%;
  display: flex;
}
.kotak-kiri {
  width: 400px;
  height: 368px;
  padding: 68px 74px;
}
.kotak-kanan {
  padding: 68px 44px;
}

.btn-baca {
  display: flex;
  width: 198px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background-color: #720dee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  margin-top: 19px;
}

/* END SECTION PENGERTIAN */

/* layanan */
.layanan-kami {
  background: #f5f8fb;
  height: 600px;
}
.judul-layanan {
  text-align: center;
  padding-top: 33px;
  margin-bottom: 60px;
  color: #000;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.layanan {
  display: flex;
  justify-content: center;
  padding: 0 70px;
}

.kotak-layanan {
  border: none;
  padding: 20px;
  margin: 10px;
  width: 305px;
  height: 310px;
  border-radius: 10px;
  background: var(--1, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.p-Artikel {
  height: 110px;
}
.p-layanan {
  height: 175px;
  margin-top: 23px;
  margin-bottom: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-layanan {
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  color: #fff;
  background: #720dee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* end layanan */

/* tentang kami */
.jdl-kami {
  text-align: center;
  margin-top: 40px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tentang-kami {
  display: flex;
}
span .kami {
  display: block;
  margin-top: 0.5px;
}
.area-left {
  padding: 68px 93px;
}
.area-left h1 {
  margin-bottom: 11px;
}
.area-right img {
  width: 400px;
  height: 400px;
  padding: 68px 83px;
}
.p-kami p {
  margin-bottom: 20px;
}
.img-kami {
  z-index: 2;
  position: absolute;
  top: 268%;
}
.vector2 {
  position: relative;
  top: 11.5%;
  width: 300px;
  background-blend-mode: darken;
  z-index: 1;
}
/* end tentang kami */

/* artikel */
.artikel {
  background: #f5f8fb;
  height: 886px;
}
.judul-artikel {
  text-align: center;
  padding-top: 43px;
  margin-bottom: 74px;
  font-size: 40px;
}
.Artikel {
  display: flex;
  justify-content: center;
  padding: 0 70px;
}
.kotak-Artikel {
  border: none;
  margin: 10px;
  width: 388px;
  height: 536px;
  border-radius: 10px;
  background: var(--1, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.kotak-Artikel img {
  width: 100%;
}
.isi-kotak {
  text-align: left;
  padding: 20px 20px;
}
.btn-artikel {
  text-align: right;
  margin-top: -25px;
}
.btn-artikel2 {
  text-align: right;
  margin-top: -25px;
}
.btn-artikel a,
.btn-artikel2 a {
  padding: 5px 25px;
  border-radius: 40px;
  background: var(--Secondary, #720dee);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tgl-artikel p {
  padding-top: 25px;
  color: #6a6a6a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tgl-artikel2 p {
  padding-top: 70px;
  color: #6a6a6a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-lainnya {
  justify-content: center;
  display: flex;
  margin-top: 63px;
}
.btn-lainnya a {
  padding: 7px 60px;
  background-color: #720dee;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* end artikel */
/* START FOOTER */
.welcome {
  color: #000;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ciura {
  color: #720dee;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
footer {
  max-width: 100%;
  height: 160px;
  background-color: #ee0d51;
  padding: 29px 82px;
}
.footer-col {
  width: 15%;
  padding: 0 3px;
}

h4 {
  color: #fff;
}
li a {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.footer-col2 li {
  display: inline-block;
  margin: 0 5px;
}

.row2 {
  margin-left: 265px;
}
.medsos {
  display: flex;
}
.medsos li {
  padding: 10px 10px;
}
.medsos li a {
  font-size: 15px;
}
.dwnld {
  margin-bottom: 10px;
  margin-top: -2px;
  font-weight: 700;
  margin-left: 5px;
}
.download {
  width: 175px;
  height: 47px;
  background-color: #fff;
  float: left;
  border-radius: 10px;
  position: relative;
  color: #000;
  cursor: pointer;
  border: 1px solid white;
}
.download .fa-brands {
  color: #000;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.fa-brands {
  font-size: 30px;
}
.fa-apple {
  font-size: 35px;
}
.p1,
.p2 {
  position: absolute;
  left: 45px;
}
.p1 {
  top: 5px;
  font-size: 12px;
  font-weight: 500;
}
.p2 {
  top: 16px;
  font-size: 18px;
  font-weight: 600;
}
.copyright {
  margin-top: -10px;
}

/* END FOOTER */

/* Breadcrumb Component */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 20px 80px 20px;
}

.breadcrumb__link {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
